<!-- Full Page Intro -->
  <div class="view">

    <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
      muted loop>
      <source src="https://mdbootstrap.com/img/video/Lines-min.mp4" type="video/mp4">
    </video>

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn" data-wow-delay="0.3s">

        <h1 class="heding display-4 mb-4">
          <strong>404</strong>
        </h1>

        <!-- Time Counter -->
        <p id="time-counter" class="border border-light my-4"></p>


        <h4 class="mb-4">
          <strong>En construction :( </strong>
        </h4>

        <h4 class="mb-4 d-none d-md-block">
          <strong>Ooooups! Looks like you got lost.</strong>
        </h4>

        <a routerLink=""  class="btn btn-outline-white btn-lg">
          Back to home 
          <i class="fa-home fas"></i>
        </a>
      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->