<app-carousel></app-carousel>
<!-- Jumbotron -->
<div class="jumbotron text-center">
  
     <!--Section: Features v.2-->
     <section class="text-center">
      <!--Grid row-->
      <div class="row text-left">
  
          <!--Grid column-->
          <div class="col-md-3 mb-3 wow fadeIn">
              <div class="col-1 col-md-2 float-left">
                  <mdb-icon fas icon="bullhorn" size="2x" class="blue-text"></mdb-icon>
              </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                  <h4 class="font-weight-bold">Pourquoi nous ?</h4>
                  <p class="grey-text">IvoireLight Technologies croit en l'esprit d'équipe, 
                    aspire à la réputation du travail bien fait et bien fournis
                     des solution IT innovantes et adaptées à vos besoins.</p>
                  <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect routerLink="/about-us">Voir Plus</a>
              </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-3 mb-3 wow fadeIn">
              <div class="col-1 col-md-2 float-left">
                  <mdb-icon fas icon="cogs" size="2x" class="pink-text"></mdb-icon>
              </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                  <h4 class="font-weight-bold">Domaines d'activité</h4>
                  <p class="grey-text">Nous vous proposons une offre de service intégrés, composés de cinq(5)
                     grands domaines d'activités et d'expertise métier.</p>
                  <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect routerLink="/field-of-activity">Voir Plus</a>
              </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-3 mb-3 wow fadeIn">
              <div class="col-1 col-md-2 float-left">
                  <mdb-icon fas icon="question" size="2x" class="purple-text"></mdb-icon>
              </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                  <h4 class="font-weight-bold">FAQ</h4>
                  <p class="grey-text">Certaines questions qui nous sont posées par nos clients ont été sujet d'une synthèse
                     et sont disponible pour vous éclairer...</p>
                  <a mdbBtn color="purple" size="sm" class="ml-0 waves-light" mdbWavesEffect routerLink="/faq">Voir Plus</a>
              </div>
          </div>
          <!--Grid column-->
  
           <!--Grid column-->
           <div class="col-md-3 mb-3 wow fadeIn">
              <div class="col-1 col-md-2 float-left">
                  <mdb-icon fas icon="people-carry" size="2x" class="green-text"></mdb-icon>
              </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                  <h4 class="font-weight-bold">Une équipe dynamique</h4>
                  <p class="grey-text">Grace à une équipe multidisciplinaire, dynamique et chevronnée, nous assurons un travail de
                     qualité à notre clientèle.</p>
                  <a mdbBtn color="green" size="sm" class="ml-0 waves-light" mdbWavesEffect routerLink="/our-team">Voir Plus</a>
              </div>
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </section>
  <!--Section: Features v.2-->
  
  
  </div>
  <!-- Jumbotron -->

  <!--Main Layout-->
  <main>
    <div class="text-center">
        <!-- Title -->
        <h2 class="card-title h2">Nos Prestations</h2>
    </div>
    
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
                <!--Card-->
                <mdb-card cascade="true" wider="true" class="wow fadeIn">
    
                    <!--Card image-->
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets/images/prest1.jpg">
                        </mdb-card-img>
                        <a routerLink="/dev-web">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/Card image-->
    
                    <mdb-card-body cascade="true" class="text-center">
                        <!--Card content-->
                        <!--Title-->
                        <h4 class="card-title">
                            <strong>Développement</strong>
                        </h4>
                        <h5 class="indigo-text">
                            <strong> Web & Mobile</strong>
                        </h5>
                    </mdb-card-body>
                    <!--/.Card content-->
    
                </mdb-card>
                <!--/.Card-->
            </div>
    
            <div class="col-md-4">
                <!--Card-->
                <mdb-card cascade="true" wider="true" class="wow fadeIn">
    
                    <!--Card image-->
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets/images/prest2.jpg">
                        </mdb-card-img>
                        <a routerLink="/softwares">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/Card image-->
    
                    <mdb-card-body cascade="true" class="text-center">
                        <!--Card content-->
                        <!--Title-->
                        <h4 class="card-title">
                            <strong>Genie Logiciel</strong>
                        </h4>
                        <h5 class="indigo-text">
                            <strong>Desktop & Mobile</strong>
                        </h5>
    
                    </mdb-card-body>
                    <!--/.Card content-->
    
                </mdb-card>
                <!--/.Card-->
            </div>
    
            <div class="col-md-4">
                <!--Card-->
                <mdb-card cascade="true" wider="true" class="wow fadeIn">
    
                    <!--Card image-->
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets/images/prest3.jpg">
                        </mdb-card-img>
                        <a routerLink="/design-graphique">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/Card image-->
    
                    <mdb-card-body cascade="true" class="text-center">
                        <a routerLink="/design-graphique"></a>
                        <!--Card content-->
                        <!--Title-->
                        <h4 class="card-title">
                            <strong>Design Graphique</strong>
                        </h4>
                        <h5 class="indigo-text">
                            <strong>Identité Visuelle, photo & vidéo</strong>
                        </h5>
    
                    </mdb-card-body>
                    <!--/.Card content-->
    
                </mdb-card>
                <!--/.Card-->
            </div>
        </div>
    
        <!--Section: Magazine v.2-->
        <section class="magazine-section my-5  wow fadeIn">
    
    
    
            <!-- Jumbotron -->
            <div class="jumbotron text-center blue-grey lighten-5">
    
    
    
                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center my-5">Dernières Nouvelles</h2>
    
                <!-- Grid row -->
                <div class="row">
    
                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12">
    
                        <!-- Featured news -->
                        <div class="single-news mb-lg-0 mb-4 wow fadeIn">
    
                            <!-- Image -->
                            <div class="view overlay rounded z-depth-1-half mb-4">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                                    alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>
    
                            <!-- Data -->
                            <div class="news-data d-flex justify-content-between">
                                <a href="#!" class="deep-orange-text">
                                    <h6 class="font-weight-bold">
                                        <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary
                                    </h6>
                                </a>
                                <p class="font-weight-bold dark-grey-text">
                                    <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018
                                </p>
                            </div>
    
                            <!-- Excerpt -->
                            <h3 class="font-weight-bold dark-grey-text mb-3">
                                <a>Title of the news</a>
                            </h3>
                            <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste
                                natus
                                error sit
                                voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                vitae
                                explicabo.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
    
                        </div>
                        <!-- Featured news -->
    
                    </div>
                    <!-- Grid column -->
    
                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12">
    
                        <!-- Small news -->
                        <div class="single-news mb-4 wow fadeIn">
    
                            <!-- Grid row -->
                            <div class="row">
    
                                <!-- Grid column -->
                                <div class="col-md-3">
    
                                    <!--Image-->
                                    <div class="view overlay rounded z-depth-1 mb-4">
                                        <img class="img-fluid"
                                            src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg"
                                            alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                        </a>
                                    </div>
    
                                </div>
                                <!-- Grid column -->
    
                                <!-- Grid column -->
                                <div class="col-md-9">
    
                                    <!-- Excerpt -->
                                    <p class="font-weight-bold dark-grey-text">26/02/2018</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="col-11 text-truncate pl-0 mb-3">
                                            <a href="#!" class="dark-grey-text">At vero eos et accusamus et iusto odio
                                                dignissimos ducimus
                                                qui
                                                blanditiis</a>
                                        </div>
                                        <a>
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </div>
    
                                </div>
                                <!-- Grid column -->
    
                            </div>
                            <!-- Grid row -->
    
                        </div>
                        <!-- Small news -->
    
                        <!-- Small news -->
                        <div class="single-news mb-4 wow fadeIn">
    
                            <!-- Grid row -->
                            <div class="row">
    
                                <!-- Grid column -->
                                <div class="col-md-3">
    
                                    <!--Image-->
                                    <div class="view overlay rounded z-depth-1 mb-4">
                                        <img class="img-fluid"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                                            alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                        </a>
                                    </div>
    
                                </div>
                                <!-- Grid column -->
    
                                <!-- Grid column -->
                                <div class="col-md-9">
    
                                    <!-- Excerpt -->
                                    <p class="font-weight-bold dark-grey-text">25/02/2018</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="col-11 text-truncate pl-0 mb-3">
                                            <a href="#!" class="dark-grey-text">Itaque earum rerum hic tenetur a sapiente
                                                delectus</a>
                                        </div>
                                        <a>
                                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                                        </a>
                                    </div>
    
                                </div>
                                <!-- Grid column -->
    
                            </div>
                            <!-- Grid row -->
    
                        </div>
                        <!-- Small news -->
    
                        <!-- Small news -->
                        <div class="single-news mb-4 wow fadeIn">
    
                            <!-- Grid row -->
                            <div class="row">
    
                                <!-- Grid column -->
                                <div class="col-md-3">
    
                                    <!--Image-->
                                    <div class="view overlay rounded z-depth-1 mb-4">
                                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/87.jpg"
                                            alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                        </a>
                                    </div>
    
                                </div>
                                <!-- Grid column -->
    
                                <!-- Grid column -->
                                <div class="col-md-9">
    
                                    <!-- Excerpt -->
                                    <p class="font-weight-bold dark-grey-text">24/02/2018</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="col-11 text-truncate pl-0 mb-3">
                                            <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil
                                                impedit quo
                                                minus</a>
                                        </div>
                                        <a>
                                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                                        </a>
                                    </div>
    
                                </div>
                                <!-- Grid column -->
    
                            </div>
                            <!-- Grid row -->
    
                        </div>
                        <!-- Small news -->
    
                    </div>
                    <!--Grid column-->
    
                </div>
                <!-- Grid row -->
    
    
            </div>
            <!-- Jumbotron -->
    
    
        </section>
        <!--Section: Magazine v.2-->
    
        <!--Projects section v.1-->
        <section>
    
            <!--Section heading-->
            <h2 class="text-center h1 py-5">
                <strong>Nos Réalisations</strong>
            </h2>
    
    
            <!--Grid row-->
            <div class="row text-center">
    
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 wow fadeIn">
    
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                        <img src="assets/images/works/methodex.jpg" class="img-fluid"
                            alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!--Excerpt-->
                    <mdb-card-body class="mt-3">
                        <h4>
                            <strong>Methodex Consulting</strong>
                        </h4>
                        <p class="grey-text">Réalisation de l'identité visuelle complète de methodex Consulting.
                        </p>
                        <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect>
                            <mdb-icon far icon="clone" class="left"></mdb-icon> View project
                        </a>
                    </mdb-card-body>
    
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeIn">
    
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                        <img src="assets/images/works/eads2.jpg" class="img-fluid"
                            alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!--Excerpt-->
                    <mdb-card-body class="mt-3">
                        <h4>
                            <strong>Ecodim AD Sydes</strong>
                        </h4>
                        <p class="grey-text">Conception d'application web de l'Ecole du dimanche
                            des Assemblées de Dieu de Syde
                        </p>
                        <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect>
                            <mdb-icon far icon="clone" class="left"></mdb-icon> View project
                        </a>
                    </mdb-card-body>
    
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeIn">
    
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                        <img src="assets/images/works/websitesyn.jpg" class="img-fluid"
                            alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!--Excerpt-->
                    <mdb-card-body class="mt-3">
                        <h4>
                            <strong>Synergy Industry</strong>
                        </h4>
                        <p class="grey-text">Conception & maintenance du site web de synergy industry
                        </p>
                        <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect>
                            <mdb-icon far icon="clone" class="left"></mdb-icon> View project
                        </a>
                    </mdb-card-body>
    
                </div>
                <!--Grid column-->
    
                <div class="col-lg-4 col-md-6 mb-4 wow fadeIn">
                </div>
    
                <div class="col-lg-12 col-md-12 mb-12">
                    <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect>All Projects...</button>
                </div>
    
            </div>
            <!--Grid row-->
    
        </section>
        <!--/Projects section v.1-->
        <br>
        <br>
        <br>
        <div class="streak blue-grey lighten-5">
            <div class="flex-center">
                <ul class="mb-0 list-unstyled">
                    <li>
                        <h2 class="h2-responsive"><strong class="text-center h1 py-5">Notre Processus de Travail</strong></h2>
                    </li>
                    <li>
                        <h3 class="h3-responsive">
                            <mdb-icon fas icon="quote-left" aria-hidden="true"></mdb-icon>
                            À IvoireLight Technologies, nous accordons une grande importance à vos avis et vos goûts. Et pour
                            cela,
                            nous vous faisons participer à chaque étape de la réalisation de votre projet.
                            <i class="fas fa-quote-right" aria-hidden="true"></i>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="blue-grey lighten-5">
            <section class="text-center">
                <div class="row">
                      <!--Grid column-->
                 <div class="col-md-4 text-center wow fadeIn">
                    <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
                    <h5 class="font-weight-bold mt-3">1. DISCUSSION</h5>
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-4 text-center wow fadeIn">
                    <mdb-icon fas icon="pencil-ruler" size="3x" class="white-text"></mdb-icon>
                    <h5 class="font-weight-bold mt-3">2. CONCEPTION</h5>
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-4 text-center wow fadeIn">
                    <mdb-icon fas icon="wrench" size="3x" class="green-text"></mdb-icon>
                    <h5 class="font-weight-bold mt-3">3. PRODUCTION</h5>
                </div>
                <!--Grid column-->
                </div>
            </section>
        </div>
        
        <div style="height: 10px"></div>
    </div>
  </main>
  <!--/Main layout-->