<!-- Jumbotron -->
<mdb-card class="wow fadeInUp" data-wow-delay="0.2s" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg')">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
            <div class="center">
                <a routerLink="">Accueil</a> / WEB
            </div>
            <!-- Content -->
            <h1 class="card-title h1 my-4 py-2">DEVELOPPEMENT WEB</h1>
        </div>
    </div>
</mdb-card>
<!-- Jumbotron -->

<main>
    <div class="container-fluid mt-5">
        <!--Section: Features v.3-->
<section>

    <!--Section heading-->
    <h4 class="h4 py-5 font-weight justifify-content">
        La présence digitale de toute organisation sur internet est une arme vitale dans la
        présentation de son projet, de ses produits ou de son savoir faire. IvoireLight
        Technologies vous offre des solutions techniques, éfficaces et appropriées à votre
        secteur d’activité pour mener à bien la conception de votre projet web selon vos
        critères et exigences. Nous vous accompagnerons du montage du cahier des charges jusqu’a
        l’hébergement en passant par le développement.
    </h4>
  
    <!--Grid row-->
    <div class="row pt-2">
  
      <!--Grid column-->
      <div class="col-lg-5 text-center text-lg-left">
        <img src="../../../assets/images/screens-section.jpg" alt="" class="img-fluid z-depth-0">
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-7">
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-10">
              <a href="">
                <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Marketing Digital</h5>
              </a>
            <p class="grey-text text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, in?...</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-10">
              <a href="">
                <h5 class="font-weight-bold text-left mb-3 dark-grey-text">E-commerce</h5>
            </a>
            <p class="grey-text text-left">Le commerce électronique vous offre la chance d’élargir votre clientèle et d’augmenter les ventes de vos produits et services...</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-10">
              <a href="">
                <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Conception de site web</h5>
              </a>
            <p class="grey-text text-left">Un site web, l'arme ultime pour que vos futures clients s'informent de vos services et achètent...</p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row pb-3">
            <div class="col-2 col-md-1">
              <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
            </div>
            <div class="col-10">
              <a href="">
                <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Application web</h5>
              </a>
              <p class="grey-text text-left">Un site web, l'arme ultime pour que vos futures clients s'informent de vos services et achètent...</p>
            </div>
          </div>
          <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->
    </div>
</main>