<!-- Jumbotron -->
<mdb-card class="wow fadeInUp" data-wow-delay="0.2s" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg')">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
            <div class="center">
                <a routerLink="">Home</a> / Abouts us
            </div>
            <!-- Content -->
            <h1 class="card-title h1 my-4 py-2">ABOUT US</h1>
        </div>
    </div>
</mdb-card>
<!-- Jumbotron -->

<main>
    <div class="container-fluid mt-5">

        <div style="height: 2000px"></div>
    </div>
</main>