<!-- Jumbotron -->
<mdb-card class="wow fadeInUp" data-wow-delay="0.2s"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg')">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
            <div class="center">
                <a routerLink="">Accueil</a> / A propos
            </div>
            <!-- Content -->
            <h1 class="card-title h1 my-4 py-2">A PROPOS DE NOUS</h1>
        </div>
    </div>
</mdb-card>
<!-- Jumbotron -->

<main>


    <div class="container-fluid mt-5">

        <!-- Timeline -->
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="timeline-main">
                    <!-- Timeline Wrapper -->
                    <ul class="stepper stepper-vertical timeline timeline-animated">

                        <li>
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle default-color z-depth-1-half">
                                    <mdb-icon fas icon="heart" aria-hidden="true"></mdb-icon>
                                </span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content z-depth-1 ml-xl-0 p-4">
                                <h4 class="font-weight-bold">Definition</h4>
                                <p class="mb-0">
                                    IvoireLight Technologies est une société de développement de produits et de services
                                    informatiques basé à Abidjan (Cote d’Ivoire) précisement à Cocody-Riviera Attoban
                                    Lauriers 3.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle secondary-color z-depth-1-half">
                                    <mdb-icon fas icon="users" aria-hidden="true"></mdb-icon>
                                </span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content z-depth-1 ml-xl-0 p-4">
                                <h4 class="font-weight-bold">Mission</h4>
                                <p class=" mt-4 mb-0">Sa mission première est de proposer des solutions informatiques
                                    qui repondront éfficacement aux besoins de la population ivoirienne et africaine.
                                </p>
                            </div>
                        </li>
                        <li>
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle primary-color z-depth-1-half">
                                    <mdb-icon fas icon="cloud" aria-hidden="true"></mdb-icon>
                                </span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content z-depth-1 ml-xl-0 p-4">
                                <h4 class="font-weight-bold">Objectif</h4>
                                <p class="mt-4 mb-0">
                                    Soucieux de satisfaire vos attentes et conscient de l’importance des moindres
                                    détails de vos besoins, IvoireLight Technologies s’engage à mettre à votre
                                    disposition une équipe d’expert pour vous conseiller et vous accompagner de la
                                    conception-réalisation de votre projet à sa maintenance.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle pink z-depth-1-half">
                                    <mdb-icon fas icon="coffee" aria-hidden="true"></mdb-icon>
                                </span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content z-depth-1 ml-xl-0 p-4">
                                <h4 class="font-weight-bold"> Nos Cibles</h4>
                                <p class="mt-4 mb-0">
                                    Nous ne visons pas exclusivement un secteur en particulier car nous sommes ouvert à
                                    tous secteurs d’activités. Pour chaque type de clients, en fonction de leurs
                                    projets, attentes et réalité, IvoireLight Technologies propose des solutions adaptés
                                    et innovantes afin de permettre à chaque client d’atteindre ses objectifs de
                                    développement et de croissance à travers le digital.
                                </p>
                            </div>
                        </li>
                        <li>
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle mdb-color z-depth-1-half">
                                    <mdb-icon fab icon="instagram" aria-hidden="true"></mdb-icon>
                                </span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content z-depth-1 ml-xl-0 p-4">
                                <h4 class="font-weight-bold">Vision</h4>
                                <p class="mt-4 mb-0">
                                    L’objectif à long terme et l’essence même de la naissance de IvoireLight
                                    Technologies est de faire de la Côte d’Ivoire une des plaques tournantes des
                                    technologies en Afrique, mettre sur pied des instituts de formation, créer des
                                    écoles, attirer en Côte d’Ivoire les géants mondiaux de l’informatique.
                                    Nous croyons en l’esprit d’équipe et à la reputation du travail bien fait, pour cela
                                    nous fournissons des solutions IT innovantes et adaptées aux besoins des
                                    populations. Nous voulons que notre société se singularise des autres agences, en
                                    faisant de “la satisfaction du client avant tout” sa devise, de ce fait nous mettons
                                    à disposition notre expertise pour vous conseiller et vous accompagner. Grace à une
                                    équipe multidisciplinaire et chevronnée, nous assurons un travail de qualité à notre
                                    clientèle. </p>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle pink z-depth-1-half">
                                    <mdb-icon fas icon="coffee" aria-hidden="true"></mdb-icon>
                                </span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content z-depth-1 ml-xl-0 p-4">
                                <h4 class="font-weight-bold"> Philosophie</h4>
                                <p class="mt-4 mb-0">
                                    La philosophie de notre entreprise part du principe que les membres de notre équipe
                                    doivent assumer un haut degré de responsabilité, de rigueur et de concentration au
                                    quotidien à l’intérieur de leur fonction. Le sentiment d’appartenance à une même
                                    famille,la proximité, ainsi que des relations durables avec nos employés, clients et
                                    partenaires nous tiennent tout particulièrement à cœur. Nous ne minimisons aucun
                                    projet, et nous travaillons avec toute notre expertise sur chaque projet comme si
                                    c'était le seul que nous avions à faire.
                                </p>
                            </div>
                        </li>
                        <li>
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle mdb-color z-depth-1-half">
                                    <mdb-icon fab icon="instagram" aria-hidden="true"></mdb-icon>
                                </span>
                            </a>

                            <!-- Section Description -->
                            <div class="step-content z-depth-1 ml-xl-0 p-4">
                                <h4 class="font-weight-bold">Valeurs</h4>
                                <p class="mt-4 mb-0">
                                    L’authenticité, la transparence, l’innovation, la passion, la responsabilité,
                                    l’engagement et le respect des autres arrivent en tete de liste des valeurs de notre
                                    entreprise. Les valeurs de IvoireLight Technologies sont presentes dans tout ce que
                                    nous entreprenons, en passant par l’implication sociale, notre style de gestion et
                                    nos rélations avec nos clients et partenaires.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!-- Timeline Wrapper -->
                </div>
            </div>
        </div>
        <!-- Timeline -->


        <div style="height:10px"></div>
    </div>
</main>