<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div class="">
    <br>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">ivoirelight technologies</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Notre but est de maximiser l’aspect visuel de la marque de nos clients.
          Laissez notre direction artistique vous surprendre !
        </p>

        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab fab icon="google-plus"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/dev-web" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Developpement web</a>
        </p>
        <p>
          <a routerLink="/dev-mobile" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Developpement mobile</a>
        </p>
        <p>
          <a routerLink="/design-graphique" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Design Graphique</a>
        </p>
        <p>
          <a routerLink="/softwares" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Génie Logiciel</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">LIENS UTILES</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/about-us" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">A propos</a>
        </p>
        <p>
          <a routerLink="#" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Support</a>
        </p>
        <p>
          <a routerLink="/our-works" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Réalisations</a>
        </p>
        <p>
          <a routerLink="#" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Abidjan, Riviera attoban, CI
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@ivoirelighttechnologies.net
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +225 48 23 84 35
        </p>
        <p>
          <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ivoirelight-technologies.web.app/"> ivoirelighttechnologies.web.app</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->