<mdb-carousel [isControls]="true" [animation]="'slide'">
  <mdb-carousel-item>
    <div class="view">
      <img class="d-block" src="../../../assets/images/carousel/Fotolia_118839081_Subscription_Monthly_XXL.jpg"
        alt="First slide">
        <div class="mask rgba-stylish-light">
          <div class="container h-100 d-flex justify-content-center align-items-center">
              <div class="row pt-5 mt-3">
                  <div class="col-md-12 mb-3">
                      <div class="intro-info-content text-center">
                          <h1 class="display-4 white-text mb-5 wow fadeInDown flex" data-wow-delay="0.3s">Bienvenue à <a class="white-text font-weight-bold">Ivoirelight Technologies</a></h1>
                          <h5 class="text-uppercase white-text mb-5 mt-1 font-weight-bold wow fadeInRightBig" data-wow-delay="0.2s">Lorem ipsum dolor sit amet consectetur. </h5>
                          <a class="btn btn-light-blue btn-lg wow fadeInUp" data-wow-delay="0.3s">Réalisations</a>
                          <a class="btn btn-indigo btn-lg wow fadeInUp" data-wow-delay="0.3s">A propos</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view">
      <img class="d-block" src="../../../assets/images/carousel/Fotolia_70555595_Subscription_Monthly_XXL.jpg" alt="Second slide">
      <div class="mask rgba-stylish-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s"><a class="white-text font-weight-bold"> GENIE LOGICIEL</a></h1>
                        <h5 class="text-uppercase white-text mb-5 mt-1 font-weight-bold wow fadeInLeftBig" data-wow-delay="0.2s">Donnez vie à vos projets. </h5>
                        <a class="btn btn-light-blue btn-lg wow fadeInUp" data-wow-delay="0.3s">portfolio</a>
                        <a class="btn btn-indigo btn-lg wow fadeInUp" data-wow-delay="0.3s">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
    <mdb-carousel-item>
    <div class="view">
      <img class="d-block" src="../../../assets/images/carousel/Fotolia_111771635_Subscription_Monthly_XXL.jpg" alt="Second slide">
      <div class="mask rgba-stylish-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s"><a class="white-text font-weight-bold"> APP WEB & MOBILE</a></h1>
                        <h5 class="text-uppercase white-text mb-5 mt-1 font-weight-bold wow fadeInUp" data-wow-delay="0.3s">Donnez vie à vos projets. </h5>
                        <a class="btn btn-light-blue btn-lg wow fadeInUp" data-wow-delay="0.3s">portfolio</a>
                        <a class="btn btn-indigo btn-lg wow fadeInUp" data-wow-delay="0.3s">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view">
      <img class="d-block" src="../../../assets/images/carousel/Fotolia_94019838_Subscription_Monthly_XXL.jpg"
        alt="Third slide">
      <div class="mask flex-center rgba-black-light">
        <div class="mask rgba-stylish-light">
          <div class="container h-100 d-flex justify-content-center align-items-center">
              <div class="row pt-5 mt-3">
                  <div class="col-md-12 mb-3">
                      <div class="intro-info-content text-center">
                          <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s"> <a class="white-text font-weight-bold">DESIGN GRAPHIQUE</a></h1>
                          <h5 class="text-uppercase white-text mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">Nous somme juste innovateur. </h5>
                          <a class="btn btn-light-blue btn-lg wow fadeInDown" data-wow-delay="0.3s">portfolio</a>
                          <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s">Voir plus</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>